<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CusJo Test</title>
</head>
<body>
    <br /><br /><br /><br /><br /><br /><br />
    <table width="50%" align="center" border="0">
        <tr>
            <td colspan="2">
                <h3>CusJo Test</h3>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Explore the web services associated to CusJo Test Application...
                    <a href="http://localhost:49567/Swagger">Web Services</a>
                </p>
            </td>
            <td>
                <p>
                    Browse the UI of CusJo Test Application...
                    <a href="http://localhost:49567/Login/Login">Web UI</a>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>

